html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(122, 27, 122);
  font-family: Verdana, sans-serif;
}
canvas {
  display: block;
  position: relative;
}


.alignToCenter
{
}
h2
{
  color: rgb(207, 76, 85);
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.5em;
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}
nav
{
    color: white;
    padding:10px 3%;
    letter-spacing: normal;
    font-family: Verdana, sans-serif;
}


button{
  background-color:  rgb(207, 76, 85);
  border: solid 1px  rgb(207, 76, 85);
  border-radius: 5px;
  color: rgb(214, 216, 255);
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1em;
}

button:hover{
  background-color:white;
  color:  rgb(207, 76, 85);
  font-style: italic;
}

#canvas-container
{
  margin-bottom: 3em;
}